.header {
    &__container {
        display        : flex;
        flex-direction : row;
        max-width      : 80%;
        width          : 100%;
        margin         : 15px auto;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        gap    : 20px;
    }

    a {
        text-transform: uppercase;
        padding       : 5px;

        &:hover {
            color: red;
        }
    }

    &__logo {
        font-weight: 700;
    }

}